header, nav {  
	display: block;
}

* {     
margin: 0;     
padding: 0;     
}

header{
	height: 100px;
	background:#CCCCCC;
}

nav{
	width: 150px;
	float: left;
	background:#CCCCCC;
	text-align: left;
}

div#content{
	background:#CCCCCC;
	margin-left: 150px;
}
