header, nav {
	display: block;
}

* {
	margin: 0;
	padding: 0;
}

header {
	height: 200px;
	background: #E60000;
	color: #1A1A1A;
	border-bottom: 2px;
	border-bottom-color: black;
	border-bottom-style: solid;
	min-width: 1000px;
}

header h1{
	padding: 30px;
	min-width: 1000px;
}

.tablist{
padding: 3px 0;
margin: 0;
margin-top: 82px;
margin-left: 150px;
font: bold 12px Verdana;
}

.tablist li{
list-style: none;
display: inline;
margin: 0;
}

.tablist li a{
text-decoration: none;
padding: 3px 0.5em;
margin-right: 3px;
border: 1px solid #778;
border-bottom: none;
background: white;
}

nav.navleft {
	width: 150px;
	float: left;
	background: #F5F5F5;
	text-align: left;
	min-height: 600px;
	border-right: 1px;
	border-right-color: #A0A0A0;
	border-right-style: dotted;
	padding-left: 5px;
}
ul#navigation {
	font-size: 130%;
	list-style-type: none;
	padding-left: 20px;
	padding-top: 20px;
}
ul#navigation li {
	margin-bottom: 5px
}
ul#navigation a {
	color: #000000;
	text-decoration: none;
}
ul#navigation a:hover {
	color: #990000;
}
ul#navigation li.active {
	font-weight: bold;
}

div#content {
	background: #F5F5F5;
	margin-left: 150px;
	min-height: 600px;
	min-width 1000px;
	padding: 10px;
	padding-left: 30px;
	padding-top: 30px;
}
ul.link-arrow-list {
	list-style-type: none;
	overflow: hidden;
}
ul.link-arrow-list li {
	margin-bottom: 4px;
	padding-left: 10px;
	position: relative;
}
ul.link-arrow-list a {
	color: #333333;
	text-decoration: none;
}
ul.link-arrow-list a:hover {
	color: #990000;
}
ul.link-arrow-list li.link {
	background: url(../images/link-pfeil.png) no-repeat scroll 0 8px transparent;
}
