header, nav {  
	display: block;
}

* {     
margin: 0;     
padding: 0;     
}

header{
	height: 100px;
	background:#800000;
	color: #F5F5F5;
	border-bottom: 2px;
	border-bottom-color: black;
	border-bottom-style: solid;
}

nav{
	width: 150px;
	float: left;
	background:#F5F5F5;
	text-align: left;
	min-height: 600px;
	border-right: 1px;
	border-right-color: black;
	border-right-style: solid;
	padding-left: 5px;
}

div#content{
	background:#F5F5F5;
	margin-left: 150px;
	min-height: 600px;
	padding: 10px;
	padding-left: 30px;
}
ul.link-arrow-list {
    list-style-type: none;
    overflow: hidden;
}
ul.link-arrow-list li {
    margin-bottom: 4px;
    padding-left: 10px;
    position: relative;
}
ul.link-arrow-list a {
    color: #333333;
    text-decoration: none;
}
ul.link-arrow-list a:hover {
    color: #990000;
}
ul.link-arrow-list li.link {
    background:  url(images/link-pfeil.png) no-repeat scroll 0 8px transparent;
}
