header, nav {
	display: block;
}

* {
	margin: 0;
	padding: 0;
}
div#wrap {
	background: #F5F5F5;
}
header {
	height: 200px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-color: #F5F5F5;
	border-bottom: 2px;
	border-bottom-color: black;
	border-bottom-style: solid;
	min-width: 1000px;
}

header h1 {
	text-align:center;
	letter-spacing:2.5px;
	color:#333333;
	font-family:Arial;
	padding: 30px;
	min-width: 1000px;
	
}

h2 {
	margin-bottom: 10px;
}

nav.navleft {
	width: 150px;
	float: left;
	background: #F5F5F5;
	text-align: left;
	min-height: 600px;
	padding-left: 5px;
}
ul.navigation {
	font-size: 130%;
	list-style-type: none;
	padding-left: 20px;
	padding-top: 20px;
}
ul.navigation li {
	margin-bottom: 5px
}
ul.navigation a {
	color: #000000;
	text-decoration: none;
}
ul.navigation a:hover {
	color: #990000;
}
ul.navigation li.active {
	font-weight: bold;
}

div.content {
	background: #F5F5F5;
	margin-left: 155px;
	min-height: 600px;
	min-width: 800px;
	padding: 10px;
	padding-left: 40px;
	padding-top: 30px;
	padding-bottom: 100px;
	border-left: 1px;
	border-left-color: #A0A0A0;
	border-left-style: dotted;
}

div.content.prelogin {
	margin-left: 15px;
}

p.portlet {
	
	border:1px;
	border-style:groove;
	border-color:#777788;
	padding:3px;
	margin:10px;
}

button{
	margin: 10px;
}

input{
	margin: 5px;
}

#datatable{
	border: 1px solid black;
	 
}

#datatable td, #datatable th{
	font-size: 20px;
	padding: 0px;
	padding-left: 20px;
	padding right: 20px;
}

