#logout{
	float: right;
	margin-right: 20px;
}

button{
	margin: 10px;
}

#datatable{
	border: 1px solid black;
	 
}

#datatable td, #datatable th{
	font-size: 20px;
	padding: 3px;
	padding-left: 20px;
	padding right: 20px;
}
