@(docents: List[Docent], docentForm: Form[Docent])

@import helper._
@import helper.twitterBootstrap._

@main("Prüfungsverwaltung - Dozenten") {

<h1>Füge einen neuen Dozenten hinzu.</h1>
@form(routes.DocentCtrl.newDocent()) {
<input type="text" name="@docentForm("name").name" id="docentName" placeholder="Name">	
@if(docentForm("name").hasErrors) { 
@for(error <- docentForm("name").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
    <br>
<input type="text" name="@docentForm("firstName").name" id="docentFirstName" placeholder="Vorname">
@if(docentForm("firstName").hasErrors) { 
@for(error <- docentForm("firstName").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
    <br>
<input type="text" name="@docentForm("chair").name" id="docentChair" placeholder="Lehrstuhl">
@if(docentForm("chair").hasErrors) { 
@for(error <- docentForm("chair").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
<br>
<input type="submit" value="Hinzufügen">
}
<h2>@docents.size() @if(docents.size()==1) {Dozent} else {Dozenten} vorhanden.</h2>
<table class="Liste">
	<tr>
	<th>Name</th>
	<th>Vorname</th>
	<th>Lehrstuhl</th>
	<th></th>
	</tr>
	@for(docent <- docents) {
	<tr>
		<td>@docent.name</td>
		<td>@docent.firstName</td>
		<td>@docent.chair</td>
		<td>
		@form(routes.DocentCtrl.deleteDocent(docent.docentId)) {
		<input type="submit" value="Löschen">
		}
		</td>
	</tr>
	}
</table>
}

