@(docents: List[Docent], docentForm: Form[Docent])

@import helper._
@import helper.twitterBootstrap._

@main("Prüfungsverwaltung - Dozenten") {
<h1>@docents.size() @if(docents.size()==1) {Dozent} else {Dozenten}</h1>

<table class="Liste">
	<tr>
	<td>Name</td>
	<td>Vorname</td>
	<td>Lehrstuhl</td>
	<td></td>
	</tr>
	@for(docent <- docents) {
	<tr>
		<td>@docent.name</td>
		<td>@docent.firstName</td>
		<td>@docent.chair</td>
		<td>@form(routes.DocentCtrl.deleteDocent(docent.docentId)) {
		<input type="submit" value="Löschen">
		}</td>
	</tr>
	}
</table>

<h2>Füge einen neuen Dozenten hinzu.</h2>
@form(routes.DocentCtrl.newDocent()) {
<input type="text" name="@docentForm("name").name" placeholder="Name"><br>
@if(docentForm("name").hasErrors) { 
@for(error <- docentForm("name").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
<input type="text" name="@docentForm("firstName").name" placeholder="Vorname">
@if(docentForm("firstName").hasErrors) { 
@for(error <- docentForm("firstName").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
    <br>
<input type="text" name="@docentForm("chair").name" placeholder="Lehrstuhl">
@if(docentForm("chair").hasErrors) { 
@for(error <- docentForm("chair").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
<br>
<input type="submit" value="Hinzufügen">
}
}
