@(enrollments: List[Enrollment], enrollmentForm: Form[Enrollment])

@import helper._
@import helper.twitterBootstrap._

@main("Prüfungsverwaltung - Prüfungsanmeldung") {
<h1>@enrollments.size() @if(enrollments.size()==1) {Prüfungsanmeldung} else {Prüfungsanmeldungen} vorhanden.</h1>
<div class="Scroll">
<table class="Liste">
	<tr>
	<th>Prüfungsanmeldungs-ID</th>
	<th>Prüfungs-ID</th>
	<th>Studenten-ID</th>
	<th></th>
	</tr>
	@for(enrollment <- enrollments) {
	<tr>
		<td>@enrollment.enrollmentId</td>
		<td>@enrollment.examId</td>
		<td>@enrollment.studentId</td>
		<td>@form(routes.EnrollmentCtrl.deleteEnrollment(enrollment.enrollmentId)) {
		<input type="submit" value="Löschen">
		}</td>
	</tr>
	}
</table>
</div>
<h2>Füge eine neue Prüfung hinzu.</h2>
}

