@(enrollments: List[Enrollment], enrollmentForm: Form[Enrollment], students: List[Student], exams: List[Exam])

@import helper._
@import helper.twitterBootstrap._

@main("Prüfungsverwaltung - Prüfungsanmeldung") {

<h1>Füge eine neue Prüfung hinzu.</h1>
	
	@form(routes.EnrollmentCtrl.newEnrollment()) {
		<select name="exam.examId" id="enrollmentExam">
		<option value="null">Prüfung wählen</option>
		@for(exam <- exams) {
			<option value="@exam.examId">@exam.name</option>
			}
		</select>

		<select name="student.studentId" id="enrollmentStudent">
		<option value="null">Studenten wählen</option>
		@for(student <- students) {
			<option value="@student.studentId">@student.name</option>
			}
		</select>
		<input type="submit" value="Hinzufügen">
	}


<h2>@enrollments.size() @if(enrollments.size()==1) {Prüfungsanmeldung} else {Prüfungsanmeldungen} vorhanden.</h2>
<table class="Liste">
	<tr>
	<th>Prüfung</th>
	<th>Student</th>
	<th></th>
	</tr>
	@for(enrollment <- enrollments) {
	<tr>
	<td>
	@enrollment.student.name
	</td>
	<td>
	@enrollment.exam.name
	</td>
		<td>@form(routes.EnrollmentCtrl.deleteEnrollment(enrollment.enrollmentId)) {
		<input type="submit" value="Löschen">
		}</td>
	</tr>
	}
</table>
}

