@(exams: List[Exam], examForm: Form[Exam])

@import helper._
@import helper.twitterBootstrap._

@main("Prüfungsverwaltung - Prüfungen") {
<h1>@exams.size() @if(exams.size()==1) {Prüfung} else {Prüfungen}</h1>

<table class="Liste">
	<tr>
	<td>Bezeichnung</td>
	<td>Ort</td>
	<td>Datum</td>
	<td>Uhrzeit</td>
	<td>Dozent</td>
	<td>Studienfach</td>
	<td>Dauer</td>
	<td>Maximale Teilnehmerzahl</td>
	<td></td>
	</tr>
	@for(exam <- exams) {
	<tr>
		<td>@exam.name</td>
		<td>@exam.place</td>
		<td>@exam.date</td>
		<td>@exam.time</td>
		<td>@exam.docent</td>
		<td>@exam.major</td>
		<td>@exam.duration</td>
		<td>@exam.maxParticipant</td>
		<td>@form(routes.ExamCtrl.deleteExam(exam.examId)) {
		<input type="submit" value="Löschen">
		}</td>
	</tr>
	}
</table>

<h2>Füge eine neuen Prüfung hinzu.</h2>
@form(routes.ExamCtrl.newExam()) {
<input type="text" name="@examForm("name").name" placeholder="Bezeichnung">
@if(examForm("name").hasErrors) { 
@for(error <- examForm("name").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
<br>
<input type="text" name="@examForm("place").name" placeholder="Ort">
@if(examForm("place").hasErrors) { 
@for(error <- examForm("place").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
<br>
<input type="text" name="@examForm("date").name" placeholder="Datum">
@if(examForm("date").hasErrors) { 
@for(error <- examForm("date").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
<br>
<input type="text" name="@examForm("time").name" placeholder="Uhrzeit">
@if(examForm("time").hasErrors) { 
@for(error <- examForm("time").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
<br>
<input type="text" name="@examForm("docent").name" placeholder="Dozent">
@if(examForm("docent").hasErrors) { 
@for(error <- examForm("docent").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
<br>
<input type="text" name="@examForm("major").name" placeholder="Studiengang">
@if(examForm("major").hasErrors) { 
@for(error <- examForm("major").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
<br>
<input type="text" name="@examForm("duration").name" placeholder="Dauer">
@if(examForm("duration").hasErrors) { 
@for(error <- examForm("duration").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
<br>
<input type="text" name="@examForm("maxParticipant").name" placeholder="Maximale Teilnehmerzahl">
@if(examForm("maxParticipant").hasErrors) { 
@for(error <- examForm("maxParticipant").errors) {
<span class="help-inline">
   @if(error.message== "error.required") {
   Eingabe erforderlich 
   } 
    </span>
    }
    }
<br>
<input type="submit" value="Hinzufügen">
}
}
