@(students: List[Student], studentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Todo list") {
<h1>@students.size() @if(students.size()==1) {Student} else {Studenten}</h1>

<ul>
	@for(student <- students) {
	<li>
		Name: @student.name <br>
		Vorname: @student.firstName <br>
		Studienfach: @student.major <br>
		@form(routes.StudentCtrl.deleteStudent(student.studentId)) {
		<input type="submit" value="Loeschen">
		}
	</li>
	}
</ul>

<h2>Fuege einen neuen Studenten hinzu.</h2>
@form(routes.StudentCtrl.newStudent()) {
@inputText(studentForm("Name"))
@inputText(studentForm("Vorname"))
@inputText(studentForm("Studienfach"))
<input type="submit" value="Hinzufuegen">
}
}
