@(students: List[Student], studentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Prüfungsverwaltung") {
<h1>@students.size() @if(students.size()==1) {Student} else {Studenten}</h1>

<table>
	<tr>
	<td>Name</td>
	<td>Vorname</td>
	<td>Studienfach</td>
	<td></td>
	</tr>
	@for(student <- students) {
	<tr>
		<td>@student.name</td>
		<td>@student.firstName</td>
		<td>@student.major</td>
		<td>@form(routes.StudentCtrl.deleteStudent(student.studentId)) {
		<input type="submit" value="Löschen">
		}</td>
	</tr>
	}
</table>

<h2>Fuege einen neuen Studenten hinzu.</h2>
@form(routes.StudentCtrl.newStudent()) {
@inputText(studentForm("name"))
@inputText(studentForm("firstName"))
@inputText(studentForm("major"))
<input type="submit" value="Hinzufügen">
}
}
