/*hier sollte alles globale rein, gilt wenn es nicht überschrieben wird für die gesamte HP*/


header{
	
}

body {
	font-family: Castellar;
	background: yellow;
	text-align: center;
}

/* der hintergrund im body ansprechen zu können*/
#wrapper {
	background-color: red;
	width: 800px;
	min-height: 600px;
	
}

.obenliste {
	/*die größe des hinterlegten bildes*/
	top:auto;
	width: inherit;
	height: 30px;
	background: black;
	background-repeat: no-repeat;
	padding: 15px 0px 0px 15px;
}
/*die obere navigation, die liste*/
.navioben {
	/*ohne punkte*/
	list-style-type: none;
	/*margin-right: 15px;*/
	float: left;
}
/*die obere navigation, die links der liste*/
.navioben a {
	text-decoration: none;
	color: red;
}

/*zum farbwechseleffekt wenn die maus drüber fährt*/
.navioben a:hover {
	color: white;
	text-shadow: 0px 0px 10px white;
}

nav{
	background-color: blue;
	width: 195px;
	float: left;
	display: block;
}
/*die like navibar*/
.linkeListe {
	list-style-type: none;
	text-align: left;
}

.navilinks a {
	text-decoration: none;
	color: black;
}



/*rechte seite*/
aside {
	background-color: #00FFFF;
	width: 195px;
	float: right;
	display: block;
}
/*der haupteil*/
.content {
	background-color: #0404B4;
	margin-left: 195px;
	margin-right: 195px;
	min-height:600px;
	display: block;
}

.clear{
	both;
}

/*die Fusszeilen*/
footer {
	background-color: #f5f5f5;
	padding: 10px;
}
