body {
	font-family: Castellar;
	width: 800px;
	margin: 20px auto;
	text-align: center;
}
#wrapper {
	background-color: #FF55FF;
	width: 900px;
	border: 2px solid red;
	margin: 0 auto;
	text-align: left;
}

header {
	background-color: #f5f5f5;
	padding: 10px;
	padding-bottom:0px;
	display: block;
	height: 151px;
}
header ul {
	background-color: orange;
	padding-bottom:0px;
	margin: 0;
	text-align: center;
	border: 1px solid black;
}


header ul#Navigation li{
	list-style: none;
    display: inline;
    margin: 20px;
    padding-bottom:0px;
	background-color: #ccc;
}

header ul#Navigation a{
    text-decoration: none;
    font-weight: bold;
    border: 1px solid black;
    border-left-color: white;
    border-top-color: white;
    color: maroon;
    padding-bottom:0px;
}



nav {
	background-color: #F7FE2E;
	float: left;
	width: 195px;
	display: block;
}
aside {
	background-color: #00FFFF;
	width: 195px;
	float: right;
	display: block;
}
section {
	background-color: #0404B4;
	margin-left: 195px;
	margin-right: 195px;
	display: block;
}

footer {
	background-color: #f5f5f5;
	padding: 10px;
}

article {
	margin-right: 15px;
}

.clear {
	clear: both;
}

