body {
	font-family: Castellar;
	width: 800px;
	margin: 20px auto;
	text-align: center;
}
#wrapper {
	background-color: #FF55FF;
	width: 900px;
	border: 2px solid red;
	margin: 0 auto;
	text-align: left;
}

header {
	background-color: #f5f5f5;
	padding: 10px;
	display: block;
	height: 151px;
}
header ul {
	background-color: orange;
	margin: 0;
	padding: 0.8em;
	text-align: center;
	border: 1px solid black;
}

header ul#Navigation li{
	list-style: none;
    display: inline;
    margin: 0.4em; padding: 0;
	background-color: #ccc;
}

header ul#Navigation a, ul#Navigation span{
	padding: 0.2em 1em;
    text-decoration: none; font-weight: bold;
    border: 1px solid black;
    border-left-color: white; border-top-color: white;
    color: maroon; background-color: #ccc;
	
}


nav {
	background-color: #F7FE2E;
	float: left;
	width: 195px;
	display: block;
}
aside {
	background-color: #00FFFF;
	width: 195px;
	float: right;
	display: block;
}
section {
	background-color: #0404B4;
	margin-left: 195px;
	margin-right: 195px;
	display: block;
}

footer {
	background-color: #f5f5f5;
	padding: 10px;
}

article {
	margin-right: 15px;
}

.clear {
	clear: both;
}

